body {
  background-color: rgb(100, 146, 225);
  color: white;
  font-size: larger;
  margin: 30px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
