* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  flex: 2;
  width: 100%;
  background-color: rgb(224, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 5rem;
}

.lm-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 7px;
  box-shadow: none;
  background-color: rgb(83, 83, 231);
  color: white;
  cursor: pointer;
}

main {
  flex: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: 300px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card h3 {
  font-size: 2rem;
}

.vd-btn {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  background-color: grey;
  color: white;
  cursor: pointer;
}

footer {
  flex: 3;
  width: 80%;
  margin: auto;
}

@media screen and (max-width : 600px) {
  main{
    flex-direction: column;
  }
}