* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #e50914;
  color: white;
}

/* nav-bar */

nav {
  background: white;
  color: #e50914;
  padding: 18px 5%;
}

nav h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

/* main-section */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 5%;
  gap: 40px;
  flex-wrap: wrap; /* for responsiveness */
}

.content {
  flex: 1 1 450px;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 500px;
}

.image {
  flex: 1 1 350px;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

footer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 350px;
  background: #6b0202;
  padding: 40px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.card p {
  color: #eee;
  line-height: 1.6;
}

@media (max-width: 950px) {
  main {
    text-align: center;
    padding: 60px 20px;
  }

  .content h1 {
    font-size: 2.2rem;
  }

  .content p {
    margin: auto;
  }

  nav {
    text-align: center;
  }
}
