/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 850px;
  height: 650px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.child1 {
  grid-column: 1 / 3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.child1 img {
  width: 200px;
  height: 200px;
}

.content1 {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.child2 {
  grid-column: 3 / 5;
  grid-row: 1/2;
}

.content2 {
  width: 350px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.child2 a {
  text-decoration: none;
  color: rgb(144, 141, 141);
}

.child2 button {
  background: none;
  border: none;
  text-decoration: underline;
  color: rgb(54, 54, 246);
  cursor: pointer;
}

.child3 {
  grid-column: 1 / 2;
  grid-row: 2/3;
  display: flex;
}

.child3 img {
  width: 100%;
  height: 100%;
}

.child3 a {
  position: relative;
  top: 170px;
  right: 120px;
  text-decoration: none;
  color: orangered;
}

.child4 {
  grid-column: 2 / 4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-evenly;
}

.child4 .image {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.child4 .content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 13px;
  position: relative;
  top: 24px;
}

.child4 img {
  width: 80%;
}

.child5 {
  grid-column: 4 / 5;
  grid-row: 2/4;
  background-color: rgb(140, 140, 206);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.child5 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 280px;
}

.content3 {
  width: 100%;
  height: 50%;
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.content3 button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(255, 226, 62);
  padding: 5px;
  cursor: pointer;
}

.child6 {
  grid-column: 1 / 2;
  grid-row: 3/4;

  display: flex;
  position: relative;
}

.child6 a {
  position: absolute;
  top: 80%;
  left: 45%;
  text-decoration: none;
  color: orangered;
}

.child6 img {
  width: 100%;
  height: 100%;
}

.child7 {
  grid-column: 2 / 4;
  grid-row: 3/4;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.child7 img {
  width: 50%;
  height: 60%;
  border-radius: 10px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.parent {
  width: 95%;
  max-width: 1100px;
  margin: 40px auto;
  border: 1px solid black;

  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.child1 {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.child1 img {
  width: 170px;
}

.content1 {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.child2 {
  grid-column: 3 / 5;
}

.content2 {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.child2 a {
  text-decoration: none;
  color: rgb(144, 141, 141);
}

.child2 button {
  background: none;
  border: none;
  text-decoration: underline;
  color: rgb(54, 54, 246);
  cursor: pointer;
}

.child3 {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.child3 img {
  width: 130px;
}

.child3 a {
  text-decoration: none;
  color: orangered;
}

.child4 {
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 15px;
}

.child4 .image {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.child4 img {
  width: 150px;
}

.child4 .content {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 13px;
}

.child5 {
  grid-column: 4 / 5;
  grid-row: span 2;
  background-color: rgb(140, 140, 206);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  padding: 20px;
}

.child5 img {
  width: 120px;
  border-radius: 50%;
}

.content3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.content3 button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(255, 226, 62);
  cursor: pointer;
}

.child6 {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.child6 img {
  width: 120px;
}

.child6 a {
  text-decoration: none;
  color: orangered;
}

.child7 {
  grid-column: 2 / 4;
  background-color: cadetblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.child7 img {
  width: 70%;
  max-width: 320px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .parent {
    grid-template-columns: 1fr;
  }

  .child1,
  .child2,
  .child3,
  .child4,
  .child5,
  .child6,
  .child7 {
    grid-column: auto;
    grid-row: auto;
  }

  .child1,
  .child4 {
    flex-direction: column;
    text-align: center;
  }

  .child4 .image,
  .child4 .content {
    width: 100%;
  }

  .child7 img {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .child1 {
    grid-column: span 2;
  }
  .child2 {
    grid-column: span 2;
  }
  .child5 {
    grid-column: span 2;
  }
  .child7 {
    grid-column: span 2;
  }
}
