body {
  background-color: #d9dcc2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 70%;
  margin: 40px auto;
  background-color: #e6e8cf;
  padding: 20px;
}

.intro {
  display: flex;
  align-items: flex-start;
}

.image {
  width: 150px;
  margin-right: 20px;
  border: 3px solid bisque;
}

a {
  color: red;
  text-decoration: none;
}

.phone {
  color: red;
  font-weight: bold;
}

.footer {
  color: red;
}
