body {
  background-color: #d9d2c3;
}
.card {
  width: 75%;
  margin: auto;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 150px;
  height: 120px;
  border: 3px solid rgb(206, 127, 31);
  border-radius: 50%
}
h3 {
  color: brown;
}
