* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.child {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  min-width: 0;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.child1 {
  background: rgb(112, 57, 206);
  color: white;
}
.child2 {
  background: #45496c;
  color: white;
}
.child3 {
  background: #e9e6e6;
}
.child4 {
  background: #e9e6e6;
}
.child5 {
  background: #060523;
  color: white;
}

.child1 p,
.child2 p,
.child5 p {
  color: #ede5e5;
}
.child3 p,
.child4 p {
  color: #605a5a;
}

.child1 {
  grid-column: 1 / span 2;
}
.child2 {
  grid-column: 3 / span 1;
}
.child3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}
.child4 {
  grid-column: 1 / span 1;
}
.child5 {
  grid-column: 2 / span 2;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .child {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .child {
    grid-column: auto;
    grid-row: auto;
  }
}
